:root{
    --gray-color: #d8d8d8;
    --dark-gray-color: #4a4a4a;
    --light-gray-color: #f3f5f5;
    --mid-gray-color:#D8D8D8;
    
}


*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 16px;
}


body {
    max-width: 1140px;
    font-family: sans-serif;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.logo-lion{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  ul li {
    list-style: none;
  }
  
  ul a {
    text-decoration: none;
    color: var(--dark-gray-color);
  }


/* Banner Top SECTION */ 

.banner-top{
    display: flex;
    background-color: var(--gray-color);
    padding: 2rem 1.5rem;
    gap: 1.5rem;
}

 .left-banner{
    width: 60%;
}

.left-banner img{
    width: 100%;
}

.right-banner{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: rgb(75, 74, 75);
    color: white;
    padding: 8px 0;
  }

  /* INFO MID SECTION */ 

  .information-mid{
    display: flex;
    gap: 24px;
    padding: 16px 24px 32px;
  }

   .left-mid{
    width: 60%;
   }

   .left-mid img {
    width: 100%;
   }

   .left-mid > div :nth-child(1){
    margin-top: 16px;
   }

   .left-mid > div :nth-child(2) h2 {
    margin-top: 32px;

   }
   
   .left-mid .left-mid-text p {
    margin-top: 24px;
   }

   .right-mid {
    width: 40%;
   }

    .info-card-mid{
        display: flex;
        gap: 16px;
        padding: 16px;
    }

    .info-card-mid > div:nth-child(1){
        width: 35%;
    }

    .info-card-mid > div:nth-child(1) img {
        width: 100%;
    
    }

    .right-mid .info-card-mid .info-text-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
    }

    .right-mid .info-card-mid .info-text-card p {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .right-mid .info-card-mid .info-text-card  a{
        text-decoration: none;
    }



    .courses-box{
        display: flex;
        flex-direction: column;
        background-color: var(--gray-color);
        
    }

   .h1-course{
    display: flex;
    justify-content: center;
    color: var(--dark-gray-color);
    padding-top: 32px;
    padding-bottom: 32px;
   }

   .courses-box .course-cards{
    display: flex ;
    flex-wrap: wrap;
    padding-left: 72px;
    padding-right: 72px;
    gap: 32px;
    justify-content: center;
    padding-bottom: 32px;
   }



   .courses-box .course-cards .course-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(27%);
    
    
    
   }

   .courses-box .course-cards .course-card img{
    max-width: 100%;
    height: auto;
   }

   .courses-box .course-cards > div :nth-child(2){
    padding-left: 16px;
    padding-bottom: 24px;
   }

   .courses-box .course-cards .course-card h3{
    padding-top: 16px;
    padding-bottom: 8px;
   }

   .courses-box .course-cards .course-card .text-course{
     padding-bottom: 8px;
     padding-left: 0px;
     
   }

/* Thesis Section */

.thesis-text{
    display: flex;
    justify-content: center;
}

.thesis-section > div :nth-child(1){
    padding-top: 16px;
}
  
.thesis-section .thesis-bot{
    display: flex;
    flex-direction: column;
    
}

.thesis-section .thesis-box{
    display: flex;
}

.thesis-rigth{
    display: flex;
    
}

.thesis-left{
    width: 60%;
}

.thesis-left > div :nth-child(1){
    width: 100%;
}


.thesis-rigth{
    width: 40%;
    
}

.thesis-card-right{
    display: flex;
    align-items: center;
    padding-left: 24px;
    
}

.thesis-card-right div :nth-child(1){
    
   width: 35%;
}

.thesis-card-right div :nth-child(1) img{
  width: 100%;
}




.thesis-card-right > div :nth-child(1){
    width: 100%;
}


.thesis-left {
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

